<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List List</title>
</head>
<body>
<main>

    <div>
        <h1>My Lists</h1>

        <a href="{% url 'create_todo_list' %}">Create a new list</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for potato in todo_list_list %}
                <tr>
                    <td><a href="{% url 'todo_list_details' potato.id %}">{{ potato.name }}</a></td>
                    <td>{{ potato.items.count }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</main>
</body>
</html>
