<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_object.name }}</h1>
            <p>
                <a href="{% url 'edit_todo_list' todo_list_object.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'delete_todo_list' todo_list_object.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>

                </thead>
                <tbody>
                    {% for potato in todo_list_object.items.all %}
                   <tr>
                    <td>
                        {{ potato.task }}
                    </td>
                    <td>
                        {{ potato.due_date }}
                    </td>
                   </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
